body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
    margin-top: 20px;
}

.classifica {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.classifica li {
    font-size: 18px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.numero {
    width: 30px; /* Assegna una larghezza fissa per i numeri */
    text-align: left;
    margin-right: 10px;
}

.nome {
    flex-grow: 1; /* Fa sì che il nome si estenda fino a riempire lo spazio disponibile */
    text-align: left;
}

.presenze, .gol {
    font-weight: bold;
    text-align: right;
    width: 30px; /* Larghezza fissa per i numeri a destra */
}

.regolamento {
    list-style-type: disc;
    margin-top: 20px;
    padding-left: 20px;
}
